/* CSS */
.backstyle{
    /* background-image: linear-gradient(to bottom right, rgba(8, 37, 103, 1), rgba(0, 66, 37, 1));
	*/
    background-image: url("images/ngc3079_lg.jpg");
    background-color: white;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 1%;
}
.frontstyle{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    max-width: 700px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-left: 20px;
	padding-right: 20px;
	font-size: 12pt;
}
.menu{
    font-family: "Georgia";
    font-size: 18pt;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-evenly;
}
.block{
    font-family: "Georgia";
    text-align: left;
}
.end{
    font-family: "Georgia";
    font-size: 9pt;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.right{
    float: right;
    margin-left: 24pt;
    margin-right: 24pt;
}
.button{
    color: black;
    text-decoration: none;
    transition-duration: 0.4s;
}
.button:hover{
    color: black;
    text-decoration: underline;
}
.researchbutton{
    color: black;
    text-decoration: none;
    transition-duration: 0.4s;
}
.researchbutton:hover{
    color: black;
    text-decoration: underline;
}
.link{
    color: black;
    text-decoration: underline;
}
hr{
    border: 1px solid black;
}
.br0{
    display: block;
    margin-bottom: 0em;
}


