/* CSS */
.pagestyle{
    background-color: #CFCFC4;
    margin: auto;
    padding-top: 10pt;
    padding-bottom: 10pt;
    font-size: 12pt;
}
.menu{
    text-align: center;
    color: black;
    font-family: "Verdana";
    font-weight: bold;
}
.block{
    text-align: left;
    color: black;
    font-family: "Verdana";
}
.end{
    text-align: center;
    color: black;
    font-family: "Verdana";
}
.right{
    float: right;
    margin-left: 18pt;
    margin-right: 18pt;
}
.button{
    color: black;
    text-decoration: none;
    transition-duration: 0.4s;
}
.button:hover{
    color: black;
    text-decoration: underline;
}
.buttonsmall{
    color: black;
    text-decoration: none;
    transition-duration: 0.4s;
}
.buttonsmall:hover{
    color: black;
    text-decoration: underline;
}
.link{
    color: black;
    text-decoration: underline;
}
hr{
    border: 1px solid black;
}
