<nav class="verticalmenu">
    {% for item in site.data.navigation %}
        {% if item.link == page.url %}
            <a href="{{ item.link }}" class="activebutton-nav">{{ item.name }}</a><br>
        {% else %}
            <a href="{{ item.link }}" class="inactivebutton-nav">{{ item.name }}</a><br>
        {% endif %}
        {% if page.topic == 'science' and item.subitems %}
            {% for subitem in item.subitems %}
                <a href="{{ subitem.link }}" class="inactivebutton-nav" style="font-size: 14pt; font-weight: normal;">{{ subitem.name }}</a><br>
                {% if subitem.subsubitems %}
                    {% for subsubitem in subitem.subsubitems %}
                        <a href="{{ subsubitem.link }}" class="inactivebutton-nav" style="font-size: 10pt; font-weight: normal;">{{ subsubitem.name }}</a><br>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</nav>
