.activebutton{
    color: black;
    text-decoration: underline;
    transition-duration: 0.4s;
}
.inactivebutton{
    color: black;
    text-decoration: none;
    transition-duration: 0.4s;
}
.inactivebutton:hover{
    color: black;
    text-decoration: underline;
}
.contact{
    color: black;
    text-decoration: none;
}
.link{
    color: black;
    text-decoration: underline;
}
.ph{
    font-size: 20pt;
}

