/* =============== *
 * General buttons *
 * =============== */
.activebutton{
    color: black;
    text-decoration: underline;
    transition-duration: 0.4s;
}
.inactivebutton{
    color: black;
    text-decoration: none;
    transition-duration: 0.4s;
}
.inactivebutton:hover{
    color: black;
    text-decoration: underline;
}

/* ================== *
 * Navigation buttons *
 * ================== */
.activebutton-nav{
    color: white;
    text-decoration: underline;
    transition-duration: 0.4s;
}
.inactivebutton-nav{
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}
.inactivebutton-nav:hover{
    color: white;
    text-decoration: underline;
}

/* ============= *
 * Contact icons *
 * ============= */
.contact{
    color: white;
    text-decoration: none;
}

/* ============ *
 * General link *
 * ============ */
.link{
    color: black;
    text-decoration: underline;
}

/* ======== *
 * DOI link *
 * ======== */
.doi{
    color: purple;
    text-decoration: underline;
}

/* ============= *
 * More about me *
 * ============= */
.moreaboutme{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.moreaboutme-option{
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    display: block;
    font-size: 16pt;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
    width: 25%;
}
.moreaboutme-option:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
.moreaboutme-text{
    color: black;
    font-size: 16pt;
    text-decoration: none;
}
.moreaboutme-iconsize{
    font-size: 18pt;
}

/* ========== *
 * Blog posts *
 * ========== */
.blogpost{
    font-size: 14pt;
    color: black;
    text-decoration: none;
}
.blogpost:hover{
    text-decoration: underline;
}

/* ============== *
 * Sidebar button *
 * ============== */
.sidebar-toggle{
    background-color: rgb(207, 207, 196);
    color: black;
    font-size: 16pt;
    left: auto;
    right: 65%;
    top: 2.45%;
    padding: 10px 15px;
    border: none;
    border-width: 2px;
    border-color: black;
    border-radius: 7px 0px 0px 7px;
    transition: left 0.5s ease;
    z-index: 1001;
    position: fixed;
    @media (max-width: 950px) {
        background-color: rgba(207, 207, 196, 0.6);
        right: 20%;
    }
    @media (max-height: 850px) {
        background-color: rgba(207, 207, 196, 0.6);
    }
}
.sidebar-toggle:hover{
    text-decoration: underline;
}
.sidebar-close{
    left: -35%;
    @media (max-width: 950px) {
        left: -80%;
    }
}
.push-page{
    margin-left: 17.5%;
    margin-right: 17.5%;
    @media (max-width: 950px) {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }
}
.push-content{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0%;
}
.sidebutton-move{
    background-color: rgb(8, 37, 103);
    color: white;
    left: 0%;
    right: auto;
    border-radius: 0px 7px 7px 0px;
    @media (max-width: 950px) {
        background-color: rgba(8, 37, 103, 0.6);
    }
}
