/* CSS */
.backstyle{
    background-color: rgba(174, 198, 207, 1);
    margin: 1%;
}
.front{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.leftfrontstyle{
    background-color: rgba(207, 207, 196, 1);
    color: black;
	font-size: 10pt;
    box-sizing: border-box;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
    float: left;
    width: 29%;
}
.rightfrontstyle{
    background-color: rgba(207, 207, 196, 1.0);
    color: black;
	font-size: 12pt;
    box-sizing: border-box;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    float: left;
    width: 71%;
}
.horizontalmenu{
    font-family: "Courier New";
    font-size: 18pt;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-evenly;
}
.verticalmenu{
    font-family: "Courier New";
    font-weight: bold;
    font-size: 12pt;
}
.title{
    font-family: "Courier New";
    font-weight: bold;
    font-size: 18pt;
    margin: 0pt;
}
.desc{
    font-family: "Courier New";
    font-weight: bold;
    font-size: 14pt;
    margin: 0pt;
}
.block{
    font-family: "Courier New";
    font-size: 14pt;
    text-align: left;
}
.end{
    font-family: "Courier New";
    font-size: 9pt;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
hr{
    border: 1px solid black;
}
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 4px;
}
body{
    font-family: "Courier New";
    font-size: 12pt;
}


