/* ================================== *
 * Styling of left and right sidebars *
 * ================================== */
.backstyle{
    background-color: rgb(207, 207, 196);
    margin: 0%;
    padding: 0%;
}
.frontleftstyle{
    background-color: rgb(8, 37, 103);
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
    overflow: auto;
    left: 0%;
    position: fixed;
    transition: left 0.5s ease;
    @media (max-width: 950px) {
        background-color: rgba(8, 37, 103, 0.9);
        width: 80%;
    }
}
.frontleftcontent{
    color: white;
	font-size: 18pt;
    text-align: right;
    margin-left: auto;
    padding-right: 7%;
    width: 70%;
    max-height: 100%;
    max-width: 400px;
    line-height: 1.2;
}
.frontrightstyle{
    background-color: rgb(207, 207, 196);
    margin-left: 35%;
    margin-right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 65%;
    overflow: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
    position: static;
    @media (max-width: 950px) {
        margin-left: 0%;
        width: 100%;
    }
}
.frontrightcontent{
    color: black;
    font-size: 14pt;
    text-align: left;
    margin-right: auto;
    padding-left: 2.93%;
    width: 90%;
    max-height: 100%;
    max-width: 900px;
    line-height: 1.2;
    @media (max-width: 950px) {
        margin-left: auto;
        padding-left: 0%;
    }
}

/* ================================ *
 * Styling options for left content *
 * ================================ */
.verticalmenu{
    font-family: AnonymousPro;
    font-weight: bold;
    font-size: 18pt;
}
.title{
    font-family: AnonymousPro;
    font-weight: bold;
    font-size: 32pt;
    margin: 0pt;
}
.desc{
    font-weight: normal;
    font-style: italic;
    font-size: 14pt;
}
.iconsize{
    font-size: 20pt;
}
.websiteinfo{
    color: rgba(255, 255, 255, 0.4);
    font-size: 10pt;
    text-decoration: none;
}
.websiteinfo-iconsize{
    font-size: 9pt;
}

/* ================================= *
 * Styling options for right content *
 * ================================= */
.profile{
    border: 1px solid black;
    border-radius: 100px;
    border-collapse: collapse;
}
.plot{
    border: 1px solid black;
    border-radius: 0px;
    border-collapse: collapse;
    margin-left: 2%;
    margin-bottom: 2%;
}
.lastupdated{
    font-family: AnonymousPro;
    font-size: 10pt;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* ====================== *
 * Global styling options *
 * ====================== */
hr{
    border: 1px solid black;
}
.hr-nav{
    border: 1px solid white;
}
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 4px;
}
html, body {
    font-family: AnonymousPro;
    font-size: 12pt;
    height: 100%;
    min-height: 100%;
}

/* ============================= *
 * Styling for one column layout *
 * ============================= */
.onecolumnstyle{
    background-color: hsl(222, 46%, 11%);
    margin: 0%;
    padding: 0%;
}

.onecolumn{
    color: white;
    margin: auto;
    overflow: auto;
    width: 40%;
    height: 100vh;
    overflow: auto;
}

.onecolumnheader{
    font-family: AnonymousPro;
    font-weight: bold;
    text-align: right;
}

.onecolumncontent{
    font-family: AnonymousPro;
    font-weight: normal;
    text-align: justify;
}

/* ===== *
 * Fonts *
 * ===== */
@font-face {
    font-family: TexGyreAdventor;
    src: url(fonts/texgyreadventor-regular.otf);
    font-style: normal;
}
@font-face {
    font-family: TexGyreAdventor;
    src: url(fonts/texgyreadventor-bold.otf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: TexGyreAdventor;
    src: url(fonts/texgyreadventor-italic.otf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: TexGyreAdventor;
    src: url(fonts/texgyreadventor-italic.otf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: AnonymousPro;
    src: url(fonts/AnonymousPro-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: AnonymousPro;
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: AnonymousPro;
    src: url(fonts/AnonymousPro-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: AnonymousPro;
    src: url(fonts/AnonymousPro-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
